.page-7 .first-img {
    display: block;
    background: url("../img/aboutus.png") center center;
    background-size: cover;
    width: auto;
    height: 300px;
    margin-bottom: 50px;
}
@media(min-width: 0px) and (max-width: 960px) {
    .page-7 .first-img {
        background: url("../img/aboutus.png") center center;
        width: auto;
        height: 200px;
    }
}
.page-7 .content {
    margin-bottom: 50px;
}
@media(min-width: 0px) and (max-width: 1220px) {
    .page-7 .content {
        padding: 0 25px;
    }
}