.page-5 .cake-span {
    color: #c5a47e;
}
.page-5 .wedding-span {
    color: #c5a47e;
}
.page-5 .custom-span {
    color: #c5a47e;
}
.page-5 .candybar-span {
    color: #444444;
}
.page-5 .myworks-figure {
    align-self: flex-end
}
.page-5 .preview-visible {
    height: auto;
}
.page-5 .preview-invisible {
    height: auto;
}