.page-4 .first-img {
    display: block;
    background: url("../img/menu.png") center center;
    background-size: cover;
    width: auto;
    height: 300px;
}
@media(min-width: 0px) and (max-width: 960px) {
    .page-4 .first-img {
        background: url("../img/menu.png") center center;
        width: auto;
        height: 200px;
    }
}
.page-4 .candybar-link {
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.page-4 .cake-span {
    color: #c5a47e;
}
.page-4 .wedding-span {
    color: #c5a47e;
}
.page-4 .custom-span {
    color: #444444;
}
.myworks-img {
    margin-bottom: 50px;
}
.myworks-p {
    margin: 0 0 50px 0;
    padding-bottom: 80px;
    border-bottom: 1px solid #eaeaea;
}
.page-4 .myworks-figure {
    -ms-flex-item-align: end;
    align-self: flex-end
}
.page-4 .preview-visible {
    height: auto;
}
.page-4 .preview-invisible {
    height: auto;
}
@media (max-width: 700px) and (min-width: 0px) {
    .page-4 .preview-visible {
        width: 100%;
        height: auto;
    }
    .page-4 .preview-invisible {
        width: 100%;
        height: auto;
    }
}