.page-3 .first-img {
    display: block;
    background: url("../img/menu.png") center center;
    background-size: cover;
    width: auto;
    height: 300px;
}
@media(min-width: 0px) and (max-width: 960px) {
    .page-3 .first-img {
        background: url("../img/menu.png") center center;
        width: auto;
        height: 200px;
    }
}
.page-4 .cake-span {
    color: #c5a47e;
}
.page-4 .wedding-span {
    color: #c5a47e;
}
.page-4 .custom-span {
    color: #444444;
}