body {
    margin: 0;
    font-size: 18px;
    font-family: Aharoni;
}
.main {
    min-width: 320px;
}
.header {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    padding: 10px 30px;
    background: #ffffff;
}
@media(min-width: 0px) and (max-width: 1170px) {
    .header {
        width: auto;
    }
}
.flex_wrapper {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}
.logo {
    display: block;
    cursor: pointer;
    margin-right: 25px;
    font-size: 26px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-align: -webkit-center;
}
.logo p {
    display: block;
    font-family: 'Chicle', cursive;
    font-size: 18px;
    margin: -5px 0 0 0;
}
.wrap-navigation {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
@media(min-width: 0px) and (max-width: 960px) {
    .wrap-navigation {
        display: none;
    }
}
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.navigation li {
    margin-right: 15px;
    font-family: 'Charmonman', cursive;
}
.navigation a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:hover {
    color: #a9a9a9;
}
.facebook {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../img/link-facebook.jpg") no-repeat 6px 4px ;
}
.facebook:hover {
    background: url("../img/link-facebook-hover.jpg") no-repeat 6px 4px ;
}
.instagram {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../img/link-instagram.jpg") no-repeat 4px 4px;
}
.instagram:hover {
    background: url("../img/link-instagram-hover.jpg") no-repeat 4px 4px;
}
.search {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../img/link-search.jpg") no-repeat 3px 4px;
}
.search:hover {
    background: url("../img/link-search-hover.jpg") no-repeat 3px 4px;
}
.content_wrapper {
    width: 1100px;
    margin: 0 auto;
}
@media(min-width: 0px) and (max-width: 1180px) {
    .content_wrapper {
        width: auto;
    }
}
.nav-mob {
    margin-top: 7px;
    height: 21px;
}
@media(min-width: 960px) and (max-width: 1920px) {
    .nav-mob {
        display: none;
    }
}
.nav-mob span {
    display: block;
    margin-bottom: 5px;
    width: 25px;
    height: 2px;
    background-color: #000000;
}
.nav-mob:hover {
    cursor: pointer;
}
.first-img {
    position: relative;
    background: url("../img/banner.jpg") no-repeat center center;
    width: auto;
    height: 308px;
}
.first-img img {
    display: none;
}
@media(min-width: 0px) and (max-width: 960px) {
    .first-img {
        background: url("") no-repeat center center;
        height: auto;
    }
    .first-img img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.logo-down {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    font-size: 28px;
}
.logo-down p {
    margin: 0;
}
.logo-name {
    font-size: 3vw;
    font-family: 'Pacifico', cursive;
}
.logo-abbreviation {
    font-family: 'Chicle', cursive;
    font-size: 1.5vw;
}
.logo-description {
    font-family: 'Charmonman', cursive;
    color: #808080;
    font-size: 1.5vw;
}
@media(min-width: 1280px) and (max-width: 1400px) {
    .logo-down {
        left: 15%;
    }
    .logo-name {
        font-size: 3.5vw;
    }
    .logo-abbreviation {
        font-size: 1.5vw;
    }
    .logo-description {
        font-size: 2vw;
    }
}
@media(min-width: 1000px) and (max-width: 1280px) {
    .logo-down {
        left: 12%;
    }
    .logo-name {
        font-size: 4vw;
    }
    .logo-abbreviation {
        font-size: 2vw;
    }
    .logo-description {
        font-size: 2.5vw;
    }
}
@media(min-width: 0px) and (max-width: 1000px) {
    .logo-down {
        left: 5%;
    }
    .logo-name {
        font-size: 4vw;
    }
    .logo-abbreviation {
        font-size: 2.5vw;
    }
    .logo-description {
        font-size: 3vw;
    }
}
@media(min-width: 0px) and (max-width: 320px) {
    .logo-down {
        left: 5%;
    }
    .logo-name {
        font-size: 14px;
    }
    .logo-abbreviation {
        font-size: 12px;
    }
    .logo-description {
        font-size: 10px;
    }
}
.about {
    padding: 0 200px;
    font-size: 28px;
    font-family: 'Cormorant Infant', serif;
    text-align: center;
}
@media(min-width: 800px) and (max-width: 1100px) {
    .about {
        padding: 0 100px;
    }
}
@media(min-width: 0px) and (max-width: 800px) {
    .about {
        padding: 0 50px;
    }
}
.about-logo {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    margin: 0;
}
.about-text {
    display: inline-block;
    margin: 0;
    padding: 70px 0;
}
.custom_cakes {
    background: #f5f5f5;
    margin-bottom: 80px;
}
.custom_cakes_wrapper {
    width: 1300px;
    margin: 0 auto;
}
@media (min-width: 0px) and (max-width: 1320px) {
    .custom_cakes_wrapper {
        width: auto;
    }
}
.custom_img {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 250px;
}
@media(min-width: 0px) and (max-width: 1180px) {
    .custom_img {
        margin: 0 50px 0 0;
    }
}
.custom_text {
    padding: 0 20px 0 0;
}
@media(min-width: 0px) and (max-width: 950px) {
    .custom_wrapper {
        display: block;
    }
    .custom_img {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 0;
    }
    .custom_text {
        padding: 0 50px;
        text-align: center;
    }
}
.custom_text h2 {
    font-family: 'Cormorant Infant', serif;
    font-size: 34px;
    margin: 60px 0 25px 0;
    text-align: center;
}
.custom_text p {
    margin: 0 0 30px 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 22px;
    text-align: center;
}
.custom_text a {
    color: #daa520;
    text-decoration: none;
    font-size: 1.2em;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.custom_text a:hover {
    color: #00bfff;
}
.custom_btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.7em 1em;
    margin: 0 0 35px 0;
    font-size: .923em;
    font-weight: 400;
    border: 0;
    cursor: pointer;
    line-height: 1.65;
    border-radius: 5px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.custom_btn:hover {
    background: #555;
}
.location {
    margin-bottom: 80px;
}
.location h2 {
    margin: 0;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 32px;
}
.location p {
    margin: 0 0 25px 0;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 24px;
}
.location_wrapper {
    padding: 0 80px;
}
@media(min-width: 700px) and (max-width: 950px) {
    .location_wrapper {
        padding: 0 100px;
    }
}
@media(min-width: 0px) and (max-width: 750px) {
    .location_wrapper {
        padding: 0 50px;
        display: block;
    }
}
.location_str img {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.location_str {
    text-align: center;
    padding: 0 20px;
}
@media(min-width: 0px) and (max-width: 750px) {
    .location_str {
        margin-bottom: 50px;
    }
}
.location_str img {
    margin-bottom: 20px;
}
.location_str strong {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
.location_str p {
    margin: 0 0 20px 0;
}
.location_str a {
    text-decoration: none;
    font-family: 'Cormorant Infant', serif;
    font-size: 22px;
    color: #daa520;
}
.about-myself {
    background: #f5f5f5;
}
.about-myself-text {
    padding: 0 0 0 20px;
}
.about-myself-img {
    margin: 0 0 0 250px;
}
@media(min-width: 0px) and (max-width: 1180px) {
    .about-myself-img {
        margin: 0 0 0 50px;
    }
}
.about-myself-img img {
    padding-right: 20px;
}
.preview-gallery {
    padding: 80px 250px;
}
.preview-gallery-wrapper {
    display: flex;
    justify-content: space-around;
}
@media(min-width: 0px) and (max-width: 1100px) {

    .preview-gallery {
        padding: 0;
        margin-bottom: 80px;
    }
}
.preview-bottom {
    margin-bottom: 25px;
}
.preview-img {
    position: relative;
    margin: 0;
}
.preview-gallery img {
    width: 252px;
    height: 252px;
}
.preview-visible {
    position: relative;
    z-index: 1;
}
.preview-invisible {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.preview-img:hover .preview-invisible {
    opacity: 1;
}
.footer {
    background: #2a2a2a;
    color: #767676;
}
.footer-contact {
    padding: 50px;
}
.footer-contact h4 {
    margin: 0 0 20px 0;
    color: #ffffff;
}
.footer-contact-line {
    margin-bottom: 15px;
}
.favicon {
    display: inline-block;
    width: 13px;
    height: 18px;
    background: url("../img/favicon/fa-map.png");
}