.page-3 .first-img {
    position: relative;
    background: url("../img/weddingbanner.png") no-repeat center center;
    background-size: cover;
    width: auto;
    height: 600px;
}
@media(min-width: 0px) and (max-width: 960px) {
    .page-3 .first-img {
        background: url("../img/weddingbanner2.png") no-repeat center center;
        background-size: cover;
        height: 200px;
    }
}
.page-3 .cake-span {
    color: #c5a47e;
}
.page-3 .wedding-span {
    color: #444444;
}
.page-3 .myworks-figure {
    align-self: flex-end
}
.page-3 .preview-visible {
    height: auto;
}
.page-3 .preview-invisible {
    height: auto;
}
.page-3 .wedding-price {
    background: #f5f5f5;
}
.page-3 .wedding-looklike-box {
    align-self: flex-end;
}